<!-- hero -->
<div class="hero">
  <h1 class="hero-title">{{ 'HOME.HEADER.TITLE_1' | translate }}</h1>

  <div class="hero-subheader">
    <h2 class="hero-subtitle">
      {{ 'HOME.HEADER.SUBTITLE_1' | translate }}<br />
      {{ 'HOME.HEADER.SUBTITLE_2' | translate }}<br />
      {{ 'HOME.HEADER.SUBTITLE_3' | translate }}
    </h2>
  </div>
</div>

<!-- What is XS2ASandbox -->
<div class="what-sandbox-wrapper container">
  <h1 class="what-sandbox-title">{{ 'HOME.WHAT_IS.TITLE' | translate }}</h1>
  <p class="what-sandbox-desc">
    {{ 'HOME.WHAT_IS.CONTENT.THE' | translate }}
    <span class="black">{{ 'HOME.WHAT_IS.CONTENT.XS2A' | translate }}</span>
    {{ 'HOME.WHAT_IS.CONTENT.PART_1' | translate }}
    <span class="black">{{ 'HOME.WHAT_IS.CONTENT.XS2A' | translate }}</span>
    {{ 'HOME.WHAT_IS.CONTENT.PART_2' | translate }}
  </p>
</div>

<!-- PSD2 and XS2A -->
<div class="open-banking">
  <div class="divider"></div>
  <h1 class="open-banking-title">{{ 'HOME.PSD2.TITLE' | translate }}</h1>
  <p class="open-banking-desc">
    {{ 'HOME.PSD2.THE' | translate }}
    <a
      href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32015L2366&from=EN"
      target="_blank"
    >
      {{ 'HOME.PSD2.LINK' | translate }}
    </a>
    {{ 'HOME.PSD2.CONTENT' | translate }}
  </p>
</div>

<!-- Any questions section -->
<div class="any-questions">
  <div class="divider"></div>
  <h1 class="any-questions-title">{{ 'HOME.QUESTIONS.TITLE' | translate }}</h1>
  <span class="any-questions-subtitle">{{
    'HOME.QUESTIONS.ASK' | translate
  }}</span>
  <div
    class="person-card"
    *ngIf="contactInfo?.img || contactInfo?.name || contactInfo?.position"
  >
    <div class="person-card-image-wrapper">
      <img [src]="contactInfo?.img" />
    </div>
    <div class="person-card-info">
      <div class="main-personal-info">
        <span>{{ contactInfo?.name }}</span>
        <span>{{ contactInfo?.position }}</span>
      </div>
      <div class="sub-personal-info" *ngIf="contactInfo?.email">
        <a [href]="'mailto:' + contactInfo?.email">{{ contactInfo?.email }}</a>
      </div>
    </div>
  </div>
</div>
