.embedded-wrapper {
  padding: 2vw;
  h1 {
    font-weight: 600;
    font-size: calc(1.5vw + 1rem);
    color: var(--colorPrimary);
  }
  li {
    line-height: calc(1.5vw + 1rem);
    font-size: calc(0.5vw + 1rem);
  }
  img {
    width: 100%;
  }
}
