<div class="test-values-wrapper">
  <markdown [src]="pathToTestValues"></markdown>

  <textarea
    name=""
    id="textArea"
    cols="30"
    rows="10"
    [value]="certificate"
  ></textarea>

  <div class="pd0 mrt20">
    <button type="button" class="btn btn-light text-white" (click)="save()">
      Save
    </button>
    <button type="button" class="btn btn-light text-white" (click)="clear()">
      Clear
    </button>
  </div>
</div>

<!-- <div *ngIf="isCertificateSaved"> -->
<!-- Certificate saved -->
<!-- </div> -->

<!-- <div *ngIf="isCertificateDelete"> -->
<!-- Certificate deleted -->
<!-- </div> -->
