<div class="getting-started-container container">
  <section>
    <div class="divider"></div>
    <h1 class="title">
      {{ 'GETTING_STARTED.INTRODUCTION.TITLE' | translate }}
    </h1>
    <p>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.THE_1' | translate }}
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32015L2366&from=EN"
      >
        {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.LINK' | translate }}
      </a>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_1' | translate }}
    </p>

    <p>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.THE_2' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.INTRODUCTION.CONTENT.XS2A' | translate
      }}</span>
      {{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_2' | translate }}
    </p>

    <p>{{ 'GETTING_STARTED.INTRODUCTION.CONTENT.PART_3' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.INTERFACE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_1' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.INTERFACE.CONTENT.XS2A' | translate
      }}</span>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_2' | translate }}
      <a
        target="_blank"
        href="https://www.berlin-group.org/psd2-access-to-bank-accounts"
      >
        NextGenPSD2
      </a>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_3' | translate }}
      <a target="_blank" [href]="getEnvLink('XS2A_INTERFACE_SWAGGER')">
        XS2A Swagger UI
      </a>
      {{ 'GETTING_STARTED.INTERFACE.CONTENT.PART_4' | translate }}
      <a target="_blank" href="https://github.com/adorsys/xs2a">
        {{ 'GETTING_STARTED.INTERFACE.CONTENT.LINK' | translate }}
      </a>
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.PROFILE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.PROFILE.CONTENT.PART_1' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.PROFILE.CONTENT.ASPSP' | translate
      }}</span>
      {{ 'GETTING_STARTED.PROFILE.CONTENT.PART_2' | translate }}
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.CERTIFICATE.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_1' | translate }}
      <a
        target="_blank"
        href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32014R0910&from=EN"
      >
        eIDAS
      </a>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_2' | translate }}
      <span class="bold">XS2ASandbox</span>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_3' | translate }}
      <a target="_blank" href="https://www.ietf.org/rfc/rfc3739.txt"> X.509 </a>
      {{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_4' | translate }}
      <a
        target="_blank"
        href="https://www.etsi.org/deliver/etsi_ts/119400_119499/119495/01.01.02_60/ts_119495v010102p.pdf"
        >ETSI</a
      >
      ).
    </p>

    <p>{{ 'GETTING_STARTED.CERTIFICATE.CONTENT.PART_5' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.UI.TITLE' | translate }}</h1>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_0' | translate }}</p>
    <br />
    <h2>{{ 'GETTING_STARTED.UI.CONTENT.SUBTITLE_1' | translate }}</h2>
    <br />
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_1' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_2' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_3' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_4' | translate }}</p>

    <br />
    <h2>{{ 'GETTING_STARTED.UI.CONTENT.SUBTITLE_2' | translate }}</h2>
    <br />
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_5' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_6' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_7' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_8' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_9' | translate }}</p>
    <br />
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_10' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_11' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_12' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_13' | translate }}</p>
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_14' | translate }}</p>
    <br />
    <h2>{{ 'GETTING_STARTED.UI.CONTENT.SUBTITLE_3' | translate }}</h2>
    <br />
    <p>{{ 'GETTING_STARTED.UI.CONTENT.PART_15' | translate }}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{ 'GETTING_STARTED.WHAT_NEXT.TITLE' | translate }}</h1>
    <p>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_1' | translate }}
      <a href="/getting-started">{{
        'GETTING_STARTED.WHAT_NEXT.LINK_1' | translate
      }}</a>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_2' | translate }}
      <a href="/test-cases">{{
        'GETTING_STARTED.WHAT_NEXT.LINK_2' | translate
      }}</a>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_3' | translate }}
      <span class="bold">{{
        'GETTING_STARTED.WHAT_NEXT.POSTMAN' | translate
      }}</span>
      {{ 'GETTING_STARTED.WHAT_NEXT.PART_4' | translate }}
      <span class="bold">Swagger</span>.
    </p>
  </section>
</div>
