<div class="getting-started-container">
  <section>
    <div class="divider"></div>
    <h1 class="title">{{'GETTING_STARTED.INTRODUCTION.TITLE' | translate}}</h1>
    <p>
      <a target="_blank" href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32015L2366&from=EN">
        {{'GETTING_STARTED.INTRODUCTION.CONTENT.LINK' | translate}}
      </a>
      {{'GETTING_STARTED.INTRODUCTION.CONTENT.PART_1' | translate}}
    </p>

    <p>
      <span class="bold">{{'GETTING_STARTED.INTRODUCTION.CONTENT.XS2A' | translate}}</span>
      {{'GETTING_STARTED.INTRODUCTION.CONTENT.PART_2' | translate}}
    </p>

    <p>
      {{'GETTING_STARTED.INTRODUCTION.CONTENT.PART_3' | translate}}
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.ARCHITECTURE.TITLE' | translate}}</h1>
    <p>
      {{'GETTING_STARTED.ARCHITECTURE.CONTENT' | translate}}
    </p>
    <img src="../../assets/images/Graphic_XS2A_Sandbox.jpg"/>
    <p>{{'GETTING_STARTED.ARCHITECTURE.CAPTION' | translate}}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.INTERFACE.TITLE' | translate}}</h1>
    <p>
      {{'GETTING_STARTED.INTERFACE.CONTENT.PART_1' | translate}}
      <span class="bold">{{'GETTING_STARTED.INTERFACE.CONTENT.XS2A' | translate}}</span>
      {{'GETTING_STARTED.INTERFACE.CONTENT.PART_2' | translate}}
      <a target="_blank" href="https://www.berlin-group.org/psd2-access-to-bank-accounts">
        NextGenPSD2
      </a>
      {{'GETTING_STARTED.INTERFACE.CONTENT.PART_3' | translate}}
      <a target="_blank" href="http://localhost:8089/swagger-ui.html">
        XS2A Swagger UI
      </a>
      {{'GETTING_STARTED.INTERFACE.CONTENT.PART_4' | translate}}
      <a target="_blank" href="https://github.com/adorsys/xs2a">
        {{'GETTING_STARTED.INTERFACE.CONTENT.LINK' | translate}}
      </a>
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.PROFILE.TITLE' | translate}}</h1>
    <p>
      {{'GETTING_STARTED.PROFILE.CONTENT.PART_1' | translate}}
      <span class="bold">{{'GETTING_STARTED.PROFILE.CONTENT.ASPSP' | translate}}</span>
      {{'GETTING_STARTED.PROFILE.CONTENT.PART_2' | translate}}
    </p>
    <div class="divider"></div>
    <h2>{{'GETTING_STARTED.PROFILE.SUBTITLE_1' | translate}}</h2>
    <ul>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_1' | translate}}</li>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_2' | translate}}
        <ul>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_1.LI_1' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_1.LI_2' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_1.LI_3' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_1.LI_4' | translate}}</li>
        </ul>
      </li>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_3' | translate}}</li>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_4' | translate}}
        <ul>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_2.LI_1' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_2.LI_2' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_2.LI_3' | translate}}</li>
        </ul>
      </li>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_5' | translate}}
        <ul>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_3.LI_1' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_3.LI_2' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_3.LI_3' | translate}}</li>
          <li>{{'GETTING_STARTED.PROFILE.LIST.UL_3.LI_4' | translate}}</li>
        </ul>
      </li>
    </ul>

    <span class="currently-disabled-features">{{'GETTING_STARTED.PROFILE.LIST.DISABLED' | translate}}</span>

    <ul>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_6' | translate}}</li>
      <li>{{'GETTING_STARTED.PROFILE.LIST.LI_7' | translate}}</li>
    </ul>

    <div class="divider"></div>
    <h2>{{'GETTING_STARTED.PROFILE.SUBTITLE_2' | translate}}</h2>

    <div class="yaml">
      {{
        'setting: \n' +
          'frequencyPerDay: 5 \n' +
          'combinedServiceIndicator: false \n' +
          'scaApproaches:  \n' +
          '- REDIRECT  \n' +
          '- EMBEDDED \n' +
          'tppSignatureRequired: false \n' +
          'bankOfferedConsentSupport: true \n' +
          'pisRedirectUrlToAspsp: http://localhost:4400/payment-initiation/' +
          'login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'pisPaymentCancellationRedirectUrlToAspsp: http://localhost:4400/' +
          'payment-cancellation/login?paymentId={encrypted-payment-id}&redirectId={redirect-id} \n' +
          'aisRedirectUrlToAspsp: http://localhost:4400/account-information/' +
          'login?encryptedConsentId={encrypted-consent-id}&redirectId={redirect-id} \n' +
          'multicurrencyAccountLevel: SUBACCOUNT \n' +
          'availableBookingStatuses:  \n' +
          '- BOOKED  \n' +
          '- PENDING \n' +
          'supportedAccountReferenceFields: \n ' +
          '- MSISDN \n' +
          'consentLifetime: 0 \n' +
          'transactionLifetime: 0 \n' +
          'allPsd2Support: true \n' +
          'transactionsWithoutBalancesSupported: true \n' +
          'signingBasketSupported: false \n' +
          'paymentCancellationAuthorizationMandated: true \n' +
          'piisConsentSupported: true \n' +
          'deltaReportSupported: false \n' +
          'redirectUrlExpirationTimeMs: 600000 \n' +
          'notConfirmedConsentExpirationPeriodMs: 86400000 \n' +
          'notConfirmedPaymentExpirationPeriodMs: 86400000 \n' +
          'supportedPaymentTypeAndProductMatrix: \n' +
          'SINGLE:  \n' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'PERIODIC:  \n' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'BULK: \n ' +
          '- sepa-credit-transfers  \n' +
          '- instant-sepa-credit-transfers \n' +
          'paymentCancellationRedirectUrlExpirationTimeMs: 600000 \n' +
          'availableAccountsConsentSupported: true \n' +
          'scaByOneTimeAvailableAccountsConsentRequired: true \n' +
          'psuInInitialRequestMandated: false \n'
      }}
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.CERTIFICATE.TITLE' | translate}}</h1>
    <p>
      {{'GETTING_STARTED.CERTIFICATE.CONTENT.PART_1' | translate}}
      <a target="_blank" href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32014R0910&from=EN">
        eIDAS
      </a>
      {{'GETTING_STARTED.CERTIFICATE.CONTENT.PART_2' | translate}}
      <span class="bold">XS2ASandbox</span>
      {{'GETTING_STARTED.CERTIFICATE.CONTENT.PART_3' | translate}}
      <a target="_blank" href="https://www.ietf.org/rfc/rfc3739.txt">
        as X.509
      </a>
      {{'GETTING_STARTED.CERTIFICATE.CONTENT.PART_4' | translate}}
      <a target="_blank" href="https://www.etsi.org/deliver/etsi_ts/119400_119499/119495/01.01.02_60/ts_119495v010102p.pdf">ETSI</a>
      ).
    </p>

    <p>
      {{'GETTING_STARTED.CERTIFICATE.CONTENT.PART_5' | translate}}
    </p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.UI.TITLE' | translate}}</h1>
    <p>{{'GETTING_STARTED.UI.CONTENT' | translate}}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>{{'GETTING_STARTED.OBA.TITLE' | translate}}</h1>
    <p>{{'GETTING_STARTED.OBA.CONTENT' | translate}}</p>
  </section>

  <section>
    <div class="divider"></div>
    <h1>Links to environments</h1>
    <div class="links-to-environments bg th">
      <span>Service</span> <span>Local environment</span>
      <span>XS2ASandbox Demo environment</span>
    </div>

    <div class="links-to-environments">
      <span>Developer portal</span>
      <span
        ><a target="_blank" href="http://localhost:4206"
          >http://localhost:4206</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-developerportalui.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-developerportalui.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>XS2A Interface Swagger</span>
      <a target="_blank" href="http://localhost:8080/swagger-ui.html"
        >http://localhost:8089/swagger-ui.html</a
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/"
        >
          https://demo-dynamicsandbox-xs2a.cloud.adorsys.de/</a
        >
      </span>
    </div>

    <div class="links-to-environments">
      <span>Consent management system</span>
      <span
        ><a target="_blank" href="http://localhost:38080/swagger-ui.html">
          http://localhost:38080/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-cms.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-cms.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>Ledgers</span>
      <span
        ><a target="_blank" href="http://localhost:8088/swagger-ui.html"
          >http://localhost:8088/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-ledgers.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-ledgers.cloud.adorsys.de</a
        >
      </span>
    </div>
    <div class="links-to-environments">
      <span>ASPSP-Profile Swagger</span>
      <span
        ><a target="_blank" href="http://localhost:48080/swagger-ui.html"
          >http://localhost:48080/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-aspspprofile.cloud.adorsys.de"
        >
          https://demo-dynamicsandbox-aspspprofile.cloud.adorsys.de</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>TPP User Interface</span>
      <span
        ><a target="_blank" href="http://localhost:4205"
          >http://localhost:4205</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-tppui.cloud.adorsys.de/login"
        >
          https://demo-dynamicsandbox-tppui.cloud.adorsys.de/login</a
        >
      </span>
    </div>

    <div class="links-to-environments">
      <span>Online banking UI</span>
      <span
        ><a target="_blank" href="http://localhost:4400/"
          >http://localhost:4400</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-onlinebankingui.cloud.adorsys.de/account-information/login"
        >
          https://demo-dynamicsandbox-onlinebankingui.cloud.adorsys.de/account-information/login</a
        >
      </span>
    </div>

    <div class="links-to-environments bg">
      <span>Online banking backend</span>
      <span
        ><a target="_blank" href="http://localhost:8090/swagger-ui.html"
          >http://localhost:8090/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-onlinebanking.cloud.adorsys.de/swagger-ui.html"
        >
          https://demo-dynamicsandbox-onlinebanking.cloud.adorsys.de/swagger-ui.html</a
        >
      </span>
    </div>
    <div class="links-to-environments">
      <span>Certificate Generator</span>
      <span
        ><a target="_blank" href="http://localhost:8090/swagger-ui.html"
          >http://localhost:8092/swagger-ui.html</a
        ></span
      >
      <span
        ><a
          target="_blank"
          href="https://demo-dynamicsandbox-certificategenerator.cloud.adorsys.de/swagger-ui.html"
        >
          https://demo-dynamicsandbox-certificategenerator.cloud.adorsys.de/swagger-ui.html</a
        >
      </span>
    </div>
  </section>

  <section>
    <div class="divider"></div>
    <h1>How to download, setup and run the project</h1>
    <h2>Prerequisites</h2>

    <p>
      This sandbox runs with the docker-compose that can be found at
      docker-compose.yml and Makefile in project directory. But before you run
      XS2ASandbox, first check if all build dependencies are installed:

      <span class="app-line-command-wrapper"> <span> make check </span> </span>
    </p>
    <p>
      If something is missing, install it to your local machine, otherwise the
      build will fail. List of dependencies that are required to use
      XS2ASandbox: Java 8, NodeJs, Angular CLI, Asciidoctor, jq, Docker, Docker
      Compose, Maven, PlantUML. Here are links where you can install needed
      dependencies:
    </p>
    <section>
      <div class="links-to-environments bg th">
        <span>Dependency</span> <span>Link</span>
      </div>

      <div class="links-to-environments">
        <span>Java 8</span>
        <span>
          <a target="_blank" href="https://openjdk.java.net/install/">
            https://openjdk.java.net/install/
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Node.js 11.x</span>
        <span>
          <a target="_blank" href="https://nodejs.org/en/download">
            https://nodejs.org/en/download
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>Angular CLI 7.x</span>
        <span>
          <a target="_blank" href="https://angular.io/guide/quickstart">
            https://angular.io/guide/quickstart
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Asciidoctor 2.0</span>
        <span>
          <a target="_blank" href="https://asciidoctor.org">
            https://asciidoctor.org
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>jq 1.6</span>
        <span>
          <a target="_blank" href="https://stedolan.github.io/jq/download">
            https://stedolan.github.io/jq/download
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Docker 1.17</span>
        <span>
          <a target="_blank" href="https://www.docker.com/get-started">
            https://www.docker.com/get-started
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>Docker Compose 1.24</span>
        <span>
          <a target="_blank" href="https://docs.docker.com/compose/install">
            https://docs.docker.com/compose/install
          </a>
        </span>
      </div>

      <div class="links-to-environments">
        <span>Maven 3.5</span>
        <span>
          <a target="_blank" href="https://www.docker.com/get-started">
            https://maven.apache.org/download.cgi
          </a>
        </span>
      </div>

      <div class="links-to-environments" bg>
        <span>PlantUML 1.2019.3</span>
        <span>
          <a target="_blank" href="http://plantuml.com/en/starting">
            http://plantuml.com/en/starting
          </a>
        </span>
      </div>
    </section>

    <p>Stop running containers in terminal with key combination Control + C.</p>
    <p>
      You can remove all the Sandbox containers from Docker with the following
      command:
    </p>
    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span> <br />
    </span>

    <h2>Note 1</h2>
    <p>
      Please, use Node.js version lower than 12 (e.g. 10.x.x or 11.x.x).
      Otherwise angular applications would not be built due to version
      conflicts.
    </p>

    <h2>Note 2</h2>
    <p>
      Check amount of memory given to Docker (Open Docker Desktop -> Preferences
      -> Advanced -> Memory). For a fast and painless start of all the services
      it should be not less than 5 GB.
    </p>

    <div class="divider"></div>

    <h2>Download XS2ASandbox</h2>
    <p>
      Download the project directly
      <a target="_blank" href="https://github.com/adorsys/XS2A-Sandbox"
        >from GitHub</a
      >
      or use command:
    </p>
    <span class="app-line-command-wrapper">
      <span>git clone https://github.com/adorsys/XS2A-Sandbox</span>
    </span>

    <div class="divider"></div>

    <h2>Build and run XS2ASandbox</h2>
    <p>After downloading the project go to the project directory:</p>
    <span class="app-line-command-wrapper"> <span>cd XS2A-Sandbox</span> </span>
    <p>Build all the services with the command:</p>
    <span class="app-line-command-wrapper"> <span>make</span> </span>

    <p>
      After building services you can run XS2ASandbox in two ways - with a
      simple docker command:
    </p>
    <span class="app-line-command-wrapper">
      <span>docker-compose up</span>
    </span>

    <p>Or with Makefile commands:</p>
    <p>1. Build and run services</p>
    <span class="app-line-command-wrapper"> <span> make run</span> </span>
    <p>2. Run services without build</p>
    <span class="app-line-command-wrapper"> <span>make start</span> </span>
  </section>

  <section>
    <div class="divider"></div>
    <h1>Troubleshooting</h1>

    <p>
      These are common mistakes you can get during the start of XS2ASandbox and
      an instruction how to get rid of it:
    </p>

    <h2>Liquibase changelog error</h2>

    <p>
      This error can be produced if you had unsuccessful start of XS2ASandbox
      earlier. Example of possible stack trace:
    </p>

    <div class="yaml">
      {{
        'ledgers                       | 2019-05-02 13:54:29.410  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:54:39.697  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:54:55.137  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:55:35.940  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:55:45.995  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:55:46.967  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers                       | 2019-05-02 13:55:59.167  INFO 1 --- [           main] liquibase.executor.jvm.JdbcExecutor      : SELECT LOCKED FROM ledgers.databasechangeloglock WHERE ID=1 \n' +
          'ledgers                       | 2019-05-02 13:57:38.705  INFO 1 --- [           main] l.lockservice.StandardLockService        : Waiting for changelog lock.... \n' +
          'ledgers exited with code 137'
      }}
    </div>

    <p>Possible solution:</p>
    <p>
      Find and delete all folders "ledgerdbs" and "xs2adbs". Clear all docker
      containers with command:
    </p>

    <span class="app-line-command-wrapper">
      <span>docker-compose rm -s -f -v</span> <br />
    </span>

    <p>Restart all services.</p>

    <h2>Node version error</h2>

    <p>
      This error can be produced because of wrong NodeJs version (version higher
      than 11.x). Example of possible stack trace:
    </p>

    <div class="yaml">
      {{
        'gyp ERR! build error \n' +
          'gyp ERR! stack Error: `make` failed with exit code: 2 \n' +
          'gyp ERR! stack     at ChildProcess.onExit (/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/lib/build.js:262:23) \n' +
          'gyp ERR! stack     at ChildProcess.emit (events.js:196:13) \n' +
          'gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:256:12) \n' +
          'gyp ERR! System Darwin 17.7.0 \n' +
          'gyp ERR! command "/usr/local/Cellar/node/12.1.0/bin/node" "/Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/node-gyp/bin/node-gyp.js" "rebuild" "--verbose" "--libsass_ext=" "--libsass_cflags=" "--libsass_ldflags=" "--libsass_library=" \n' +
          'gyp ERR! cwd /Users/rpo/XS2A-Sandbox/developer-portal-ui/node_modules/@angular-devkit/build-angular/node_modules/node-sass \n' +
          'gyp ERR! node -v v12.1.0 \n' +
          'gyp ERR! node-gyp -v v3.8.0 \n' +
          'gyp ERR! not ok'
      }}
    </div>

    <p>Possible solution:</p>

    <p>First, check your version of NodeJs with the command:</p>
    <span class="app-line-command-wrapper"> <span>node -v</span> <br /> </span>

    <p>
      If version is higher than 11.x - change version of NodeJs to earlier one.
    </p>
    <h2></h2>
  </section>

  <section>
    <div class="divider"></div>

    <h1>How to register TPP and start testing</h1>
    <ol>
      <li>
        Open
        <a target="_blank" href="http://localhost:4205"
          >TPP User Interface login page</a
        >.
      </li>
      <li>
        If you have no login and password - register yourself by clicking
        "Register" button.
      </li>
      <li>
        Register yourself, create a certificate and log into the system. Note:
        TPP ID should consist of at least 8 digits, no letters or other signs
        allowed.
      </li>
      <li>Upload the test data and start testing.</li>
      <p>
        Whole flow for TPPs to start their work with XS2ASandbox is displayed in
        Figure 1.2:
      </p>
      <img src="../../assets/images/Flow.png" />
      <p>Figure 1.2: TPP flow step-by-step</p>
    </ol>
  </section>

  <section class="customization">
    <div class="divider"></div>
    <h1>How to customize UI of developer portal</h1>
    <ol>
      <li>Create .json file with name UITheme.</li>
      <li>
        <span class="JSON" (click)="exportTheme()">Json example</span>
        <app-code-area
          [json]="defaultTheme"
          [id]="'defaultTheme'"
        ></app-code-area>
      </li>
      <li>
        Json fields.
        <ul>
          <li>
            globalSettings - required
            <ul>
              <li>
                logo - required, value: string, http url or file name with
                extension or ' '
              </li>
              <li>
                fontFamily - optional, value: string, font-name or font-name,
                font-family
              </li>
              <li>headerBG - optional, value: string, hex</li>
              <li>headerFontColor - optional, value: string, hex</li>
              <li>footerBG - optional, value: string, hex</li>
              <li>footerFontColor - optional, value: string, hex</li>
              <li>facebook - optional, value: string, http url</li>
              <li>linkedIn - optional, value: string, http url</li>
            </ul>
          </li>
          <li>
            contactInfo - required
            <ul>
              <li>name - required, value: string</li>
              <li>position - required, value: string</li>
              <li>
                img - required, value: string, http url or file name with
                extension
              </li>
              <li>email - optional, value: string</li>
              <li>phone - optional, value: string</li>
            </ul>
          </li>
          <li>
            officesInfo - required. Array of 2 elements.
            <ul>
              <li>city - required, value: string</li>
              <li>company - required, value: string</li>
              <li>addressFirstLine - required, value: string</li>
              <li>addressSecondLine - required, value: string</li>
              <li>phone - optional, value: string</li>
              <li>email - optional, value: string</li>
              <li>facebook - optional, value: string, http url</li>
              <li>linkedIn - optional, value: string, http url</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        When you create .json (e.g. UITheme.json) file and fill all required
        fields, put this file with logo (e.g. logo.png) and contact person (e.g.
        contact.png) images in folder
        <span class="app-line-command-wrapper">
          <span>../assets/UI/custom/</span>
        </span>
      </li>
      <li>
        Steps for putting files in this folder:
        <ul class="steps-list">
          <li>
            Navigate to local source folder (where the customisation files are
            stored):
          </li>
          <span class="app-line-command-wrapper">
            <span>cd ./local_src_folder/</span>
          </span>
          <li>Login to Openshift:</li>
          <span class="app-line-command-wrapper"> <span>oc login</span> </span>
          <li>Navigate to the Openshift project.</li>
          <li>We select the development environment for our example.</li>
          <li>
            Please choose one of the following:
            <ul>
              <li>adorsys-dynamic-sandbox-dev</li>
              <li>adorsys-dynamic-sandbox-integ</li>
              <li>adorsys-dynamic-sandbox-demo</li>
            </ul>
          </li>
          <span class="app-line-command-wrapper">
            <span> oc project adorsys-dynamic-sandbox-dev </span>
          </span>
          <li>
            Copy the customisation files to the running Developer Portal UI
            application pod:
            <ul>
              <li>
                <span class="app-line-command-wrapper">
                  <span
                    >oc cp ./logo.png $(oc get pods |grep "developerportalui"
                    |awk '{{
                      '{print $1}'
                    }}'):/usr/share/nginx/html/assets/UI/custom/</span
                  >
                </span>
              </li>
              <li>
                <span class="app-line-command-wrapper">
                  <span
                    >oc cp ./contact.png $(oc get pods |grep "developerportalui"
                    |awk '{{
                      '{print $1}'
                    }}'):/usr/share/nginx/html/assets/UI/custom/</span
                  >
                </span>
              </li>
              <li>
                <span class="app-line-command-wrapper">
                  <span
                    >oc cp ./ $(oc get pods |grep "developerportalui" |awk '{{
                      '{print $1}'
                    }}'):/usr/share/nginx/html/assets/UI/custom/</span
                  >
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Customization completed, congratulations!</li>
    </ol>
  </section>

  <section>
    <div class="divider"></div>
    <h1>What's next?</h1>
    <p>
      When you are done with all steps from
      <a href="/getting-started">Getting started</a> manual, check
      <a href="/test-cases">Test cases</a> section for further testing. There
      you will find prepared <span class="bold">Postman tests</span>, XS2A
      Interface API description and instructions how to test XS2ASandbox with
      <span class="bold">Swagger</span>.
    </p>
  </section>
</div>
