.test-values-wrapper {
  padding: 2vw;
}
.test-values-wrapper p {
  color: #46494c;
  font-size: calc(0.7vw + 1rem);
  line-height: calc(1.5vw + 1rem);
  font-weight: 800;
}
.test-values-wrapper button {
  height: calc(2.5vw + 1rem);
  color: #fff;
  outline: none;
  width: calc(9.5vw + 1rem);
  font-size: calc(0.5vw + 1rem);
  background-color: #1575a2;
  cursor: pointer;
  border-radius: 5px;
}
