//$primary-gradient: linear-gradient(129.54deg, #3f9ca6 0%, #004c93 100%);
$primary-gradient: #1d97b7;
$custom-blue: #3f9ca6;
$custom-blue-10: #C5EAF4;
$btn-text-color: #F6F6F6;

$dark-80: #2C2E2F;
$primary-title:#004c93;
